.gitattributes
*.pyc
*.swp
*.lock
*.ipynb
!yarn.lock
*.pid
.installed.cfg
.mr.developer.cfg
develop-eggs/
eggs/
logs/
parts/
.gitattributes
.hypothesis
.vagrant
.ipynb*
.ipython/

.envrc

/*.egg-info/
uenv/
venv/
.idea
.vscode
.project
.pydevproject
.vim
tags
.settings
resync.sh

.DS_Store
.coverage
coverage.xml
.hypothesis/*
htmlcov/*

node_modules/
__pycache__/

*.lcov
*.sublime-project
*.sublime-workspace

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

/.env

# default pyenv setting
.python-version

# mypy cache
.mypy_cache/
